output/
listing/
RTE/
*.dep
*.uvgui.*
*.uvguix.*

/.vscode
/logs

*.un~
*.swp
*.bak
JLink*

.idea/

# Python
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

all.log
setting.ini
